<footer>
    <div id="social">
        Follow:
        <a href="https://twitter.com/{{site.twitter}}">
            Twitter
        </a>
        /
        <a href="https://github.com/{{site.github}}">
            GitHub
        </a>
    </div>
    <strong>
        &copy;
        {{ site.time | date: '%Y' }}
        <a href="/">{{ site.title }}</a>
        <br/>
        by
        {{ site.author }}.
        <br/>
        View
        <a href="https://github.com/{{site.repository}}">
            Source Code</a>
    </strong>

</footer>
